body {
  font-family: sans-serif;
}

.img-container {
  position: absolute;
  width: 50%;
  height: auto;
  overflow: hidden;
}

.compare-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.comp-img {
  width: 100%;
  height: 100%;
}

.slider-container {
  position: absolute;
  width: 5%;
  height: auto;
  /*border: 1px solid red;*/
}

.comp-slider {
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  opacity: 0.9;
  /*border-radius: 50%;*/
  width: 100%;
  height: auto;
  vertical-align: middle;
}
